<app-product-card>
  <div>
    <img [ngSrc]="product.image_url" [routerLink]="'product/'+product.uuid" alt="Product Image" productImage fetchpriority="high"
         priority [placeholder]="base64Background" [width]="500" [height]="667" sizes="(max-width: 768px) 100vw, 50vw"  style="width: 100%; height: auto; max-width: 500px;"/>
  </div>

    <h5 #name class="card-title">{{ product.name }}</h5>
    <p  #price class="card-text">{{ product.price | currency}}</p>
    <div productActions>
        @if (userIsAdmin) {
            <button class="btn btn-danger" appConfirm="Etes vous sûr de supprimer cet article ?" (click)="handleDeleteProduct()" i18n i18n-appConfirm>Delete</button>
        }
    </div>
</app-product-card>
