<app-product-card>
  <div>
    <img [ngSrc]="product.image_url" [routerLink]="'product/'+product.uuid" alt="Product Image" productImage fetchpriority="high"
         priority [placeholder]="base64Background" [width]="500" [height]="667" sizes="(max-width: 768px) 100vw, 50vw"  style="width: 100%; height: auto; max-width: 500px;"/>
  </div>

    <h5 #name class="card-title">{{ product.name }}</h5>
    <p  #description class="card-text">{{ product.description }}</p>
    <p  #price class="card-text">{{ product.price  | currency}}</p>
    <div productActions>
        <button appConfirm="Etes vous sûr d'ajouter cet article au panier ?" class="btn btn-primary" (click)="cartService.addToCart(product)">Add to Cart</button>
        @if (userIsAdmin) {
            <button class="btn btn-danger" appConfirm="Etes vous sûr de supprimer cet article ?" (click)="handleDeleteProduct()" i18n i18n-appConfirm>Delete</button>
        }
    </div>
    <div #productComments>
        <div class="container py-5 bg-white pe-10">
            <button (click)="toggleComments()">{{ !isCommentsVisible ? 'Afficher': 'Cacher'}} les commentaires</button>
          <div *ngIf="isCommentsVisible">
            <app-comments></app-comments>
          </div>
          @defer (when isCommentsVisible) {
          }
          @loading(after 100ms; minimum 1s) {
            <p>Chargement en cours...</p>
          }
          @error {
            <p>Une erreur s'est produite.</p>
          }
          @placeholder(minimum 100ms) {
            <div class="placeholder-content">
              <span class="placeholder col-6"></span>
              <span class="placeholder w-75"></span>
              <span class="placeholder" style="width: 25%;"></span>
            </div>
          }
        </div>
    </div>
  <app-rate [(ngModel)]="rating" name="rating"></app-rate>
</app-product-card>
