<div class="brand">
  <h1><span class="logo">A</span>ngular Shopping Cart </h1>
  <mat-slide-toggle [(ngModel)]="isDarkMode" (change)="toggleTheme()" color="accent">
    <mat-icon>{{ isDarkMode ? 'dark_mode': 'light_mode'}}</mat-icon>
  </mat-slide-toggle>

  <nav>
    <a class="nav-link active" [routerLink]="['/']">Products</a>
    @if (!authService.isAuthenticated) {
      <a class="nav-link" [routerLink]="['/login']">Login</a>
      <a class="nav-link" [routerLink]="['/signup']"> Signup</a>
    }
    <a class="nav-link" [routerLink]="['/cart']">Cart <mat-icon>shopping_cart</mat-icon> ({{cartItems.length}})</a>
    @if (authService.isAuthenticated) {
      <app-avatar />
    }
  </nav>
</div>
