.brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  .mat-subtitle-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
}

.logo {
  width: 4rem;
  height: 4rem;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav a:hover {
  text-decoration: underline;
}
