@if (product) {
  <div class="product-container">
    <div class="product-image-container">
      <img [ngSrc]="product.image_url" [width]="500" [height]="667" [placeholder]="base64Background" fetchpriority="high" priority [alt]="product.name" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" class="product.image" />
    </div>
    <div class="product-details">
      @for (category of productCategories; track category) {
        <div class="product-category">{{ category.name | uppercase }}</div>
      }
      <h2>{{ product.name }}</h2>

      <p>{{ product.description }}</p>
      <p>{{ product.price | currency}}</p>

      <div class="product-actions">
        <mat-form-field>
          <mat-label>Quantity</mat-label>
          <mat-select [(ngModel)]="quantity" >
            @for (choice of choices; track choice) {
              <mat-option [value]="choice">
                {{ choice }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-button appConfirm="Etes vous sûr d'ajouter cet article au panier ?" class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
      </div>

        <div class="product-description">
          <p>{{ product.description }}</p>

          <div class="product-metadata">
            <div>
              <mat-icon>date_range</mat-icon>
              <span>{{ product.created_at | date }}</span>
            </div>
          </div>
        </div>

        <div class="container py-5 bg-white pe-10">
          <button (click)="toggleComments()">{{ !isCommentsVisible ? 'Afficher': 'Cacher'}} les commentaires</button>
          @if(isCommentsVisible) {
            <app-comments></app-comments>
          }
          @defer (when isCommentsVisible) {
          }
          @loading(after 100ms; minimum 1s) {
            <p>Chargement en cours...</p>
          }
          @error {
            <p>Une erreur s'est produite.</p>
          }
          @placeholder(minimum 100ms) {
            <div class="placeholder-content">
              <span class="placeholder col-6"></span>
              <span class="placeholder w-75"></span>
              <span class="placeholder" style="width: 25%;"></span>
            </div>
          }
        </div>
      </div>
      <app-rate [(ngModel)]="rating" name="rating"></app-rate>
  </div>
}
