@if (product) {
  <div class="product-container">
    <div class="product-image-container">
      <img [ngSrc]="product.image_url" [width]="500" [height]="667" [placeholder]="base64Background" fetchpriority="high" priority [alt]="product.name" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" class="product.image" />
    </div>
    <div class="product-details">
      @for (category of product.category; track category) {
        <div class="product-category">{{ category | uppercase }}</div>
      }
      <h2>{{ product.name }}</h2>

      <p>{{ product.description }}</p>
      <p>{{ product.price | currency}}</p>

      <div class="product-actions">
        <div class="add-to-cart-button">
          <!-- Add the product to the cart button -->
      </div>

        <div class="product-description">
          <p>{{ product.description }}</p>

          <div class="product-metadata">
            <div>
              <mat-icon>date_range</mat-icon>
              <span>{{ product.created_at | date }}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
}
