<div class="text-center page-form">
  <main class="form-signin">
    <form (ngSubmit)="signing()" #myForm="ngForm" [formGroup]="loginForm">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <!--@if (myForm.submitted && myForm.invalid) {
        <div class="alert alert-danger" role="alert">
          @if (username.hasError('required')) {
            Username is required.
          } @else if (username.hasError('minlength')) {
            <span>Character found {{ username.getError('minlength').actualLength}}</span>
            Username must be at least {{ username.getError('minlength').requiredLength }} characters long.
          } @else if (password.hasError('required')) {
            Password is required.
          }
        </div>
      }-->

      @if (submitted && loginForm.invalid) {
       <div class="alert alert-danger" role="alert">
         @if (propUsername.hasError('required')) {
           Username is required.
         } @else if (propUsername.hasError('minlength')) {
           <span>Character found {{ propUsername.getError('minlength').actualLength}}</span>
           Username must be at least {{ propUsername.getError('minlength').requiredLength }} characters long.
         } @else if (propPassword.hasError('required')) {
           Password is required.
         } @else if (propPassword.hasError('minlength')) {
           <span>Character found {{ propPassword.getError('minlength').actualLength}}</span>
           Password must be at least {{ propPassword.getError('minlength').requiredLength }} characters long.
         }
       </div>
     }

      <div class="form-floating">
        <input class="form-control" id="floatingInputUsername"
               minlength="5" name="username"
               required type="text" [formControl]="propUsername">
        <label for="floatingInputUsername">Username</label>
      </div>

      <div class="form-floating">
        <input class="form-control" [formControl]="propPassword" id="floatingInputPassword" name="password"
               required type="password">
        <label for="floatingInputPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input [formControl]="propRememberMe" type="checkbox"> Remember me
        </label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>


    </form>
    <a routerLink="/signup">Become a member</a>
  </main>
</div>
