footer {
  // center
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    a {
      color: #333;
      text-decoration: none;
    }
    a:hover {
      color: #000;
      text-decoration: underline;
    }
    @media (max-width: 600px) {
      gap: 0.5rem;
    }
  }
}
