<div class="row">
  <div class="col col-2">
    <app-search-bar />
    <app-category-list />
    <app-price-filter/>
  </div>
  <div class="col col-8">
      <app-sort-by />
    <mat-grid-list [cols]="breakpointsCols" rowHeight="480px" gutterSize="16px">
      @for (product of allProducts; track product.uuid) {
        <mat-grid-tile>
        <app-card [product]="product"
                  (deleteProduct)="removeProduct($event)" />
        </mat-grid-tile>
      }
      @empty {
        <p>No products found.</p>
      }
    </mat-grid-list>
      <app-pagination></app-pagination>
  </div>
</div>
